p.figure {
  text-align: center;
}
p.figure > img {
  max-width: 10em;
  border-radius: 5em;
}

.post-list > li > p.img-full-width > img {
  width: 100%;
  max-width: 560px;
}

p.img-full-width > img {
  width: 100%;
}